.recordcontianermain{
    margin-top: 30px;
    display: flex;
    justify-content: center; 
    padding: 10px;
    /* background-color: #D3F1DF; */
}

.recordcontianersub{
    margin: 20px;
    padding: 40px;
    border-radius: 20px;
    background-color: white;
    max-width: 340px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

div .totalvaluesclass{
    margin-top: 20px;
    font-size: 1.5rem;
}

.recordcontianersub p{
    font-size: 2rem;
    margin-bottom: 15px;
    text-align: center;
    text-transform: uppercase;
}

.recordcontianersub select{
    display: inline;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.recordcontianersub button, .recordcontianersub select, .yearinputele {
    padding: 5px;
    background-color: #F1F1F1;
    outline: none;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    color: #333;
    font: inherit;
    font-weight: 600;
    font-size: 1.4rem;
    width: 100%;
    border: 1px solid #ccc;
    text-transform: uppercase;
}

.yearinputele{
    margin-bottom: 10px;
}

td select {
    padding: 5px;
    margin: 0px;
    background-color: inherit;
    outline: none;
    border: none;
    font: inherit;
    font-size: medium;
    width: 100%;
}

.recordcontianersub label{
    text-transform: uppercase;
    margin: 10px;
    padding: 3px;
    font-size: 1.3rem;
}

.customtoast{
    text-transform: capitalize;
}

.exceld{
    margin:20px auto;
    /* margin: auto; */
    font: inherit;
    display: flex;
    justify-content: space-between;
    width: 60%;
    align-items: flex-end;
    font-size: 22px;
}

.exceld > button{
    padding: 6px 10px;
    text-align: center;
    text-transform: uppercase;
    font: inherit;
    background-color: #333;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

table {
    width: 60%;
    border-collapse: collapse;
    margin: 30px auto;
    font-size: 20px;
    white-space: nowrap;
}
th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
    text-transform: capitalize;
}
th {
    background-color: #f4f4f4;
    text-transform: uppercase;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:nth-child(odd) {
    background-color: #ffffff;
}

/* Media query for phone devices */
@media (max-width: 768px) {
    table {
        width: 90%;
        font-size: 19px;
        margin-bottom: 14rem;
        margin-top: 6px;
    }
    th, td {
        padding: 7px;
        white-space: nowrap;
    }
    .recordcontianermain{
        margin-inline: 30px;
    }
    .recordcontianersub p{
        font-size: 25px;
    }
    .recordcontianersub label{
        font-size:1.2rem;
        margin: 5px;
    }

    .recordcontianersub select * {
        font-size: small;
        max-width: 100px;
    }
    .customtoast{
        font-size: 12px;
    }
    .exceld{
        flex-direction: column;
        width: 90%;
        justify-content: start;
        align-items: flex-start;
    } 
    .exceld > button{
        font-size: 13px;
        padding: 7px;
        margin: 0px;
        margin-top: 10px;
        align-self: flex-end;
    }
    div .totalvaluesclass , .totalvaluesclass strong{
        font-size: 20px;
    }
}


